---
title: App Defaults
permalink: /about/app-defaults.html
layout: about
eleventyNavigation:
  key: App Defaults
  parent: About
---

<main>
    {% include 'about-navigation.njk' %}

    <h1>APP DEFAULTS</h1>
</main>