---
title: Colophon
permalink: /about/colophon.html
layout: about
eleventyNavigation:
  key: Colophon
  parent: About
---

<main>
    {% include 'about-navigation.njk' %}

    <h1>COLOPHON</h1>
</main>