<nav class="sub">
  <div class="container">
	<a href="/about/almanac.html" {% if ('/about/almanac.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Almanac</a>
	<a href="/about/app-defaults.html" {% if ('/about/app-defaults.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>App Defaults</a>
	<a href="/about/colophon.html" {% if ('/about/colophon.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Colophon</a>
	<a href="/about/website-archive.html" {% if ('/about/website-archive.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Website Archive</a>
  </div>
</nav>