<nav class="sub">
	<div class="container">
		<a href="/archive/apple-boxes.html" {% if ('/archive/apple-boxes.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Apple Boxes</span>
			<div class="Highlight"></div>
		</a>
		<a href="/archive/apple-software.html" {% if ('/archive/apple-software.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Apple Software</span>
			<div class="Highlight"></div>
		</a>
		<a href="/archive/microsoft-software.html" {% if ('/archive/microsoft-software.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Microsoft Software</span>
			<div class="Highlight"></div>
		</a>
		<a href="/archive/keynote-archive.html" {% if ('/archive/keynote-archive.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Keynote Archive</span>
			<div class="Highlight"></div>
		</a>
		<a href="/archive/enamel-pins.html" {% if ('/archive/enamel-pins.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Enamel Pins</span>
			<div class="Highlight"></div>
		</a>
		<a href="/archive/mac-customisation.html" {% if ('/archive/mac-customisation.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Mac Customisation</span>
			<div class="Highlight"></div>
		</a>
		<a href="/archive/virtualisation.html" {% if ('/archive/virtualisation.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Virtualisation</span>
			<div class="Highlight"></div>
		</a>
	</div>
</nav>

<!--
<nav class="sub">
  <div class="container">
	<a href="/archive/apple-boxes.html" {% if ('/archive/apple-boxes.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Apple Boxes</a>
	<a href="/archive/apple-software.html" {% if ('/archive/apple-software.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Apple Software</a>
	<a href="/archive/microsoft-software.html" {% if ('/archive/microsoft-software.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Microsoft Software</a>
	<a href="/archive/keynote-archive.html" {% if ('/archive/keynote-archive.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Keynote Archive</a>
	<a href="/archive/enamel-pins.html" {% if ('/archive/enamel-pins.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Enamel Pins</a>
	<a href="/archive/mac-customisation.html" {% if ('/archive/mac-customisation.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Mac Customisation</a>
	<a href="/archive/virtualisation.html" {% if ('/archive/virtualisation.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Virtualisation</a>
  </div>
</nav>
-->