<nav class="sub">
  <div class="container">
	<a href="/archive/apple-boxes.html" {% if ('/archive/apple-boxes.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Apple Boxes</a>
	<a href="/archive/apple-software.html" {% if ('/archive/apple-software.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Apple Software</a>
	<a href="/archive/microsoft-software.html" {% if ('/archive/microsoft-software.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Microsoft Software</a>
	<a href="/archive/keynote-archive.html" {% if ('/archive/keynote-archive.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Keynote Archive</a>
	<a href="/archive/enamel-pins.html" {% if ('/archive/enamel-pins.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Enamel Pins</a>
	<a href="/archive/mac-customisation.html" {% if ('/archive/mac-customisation.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Mac Customisation</a>
	<a href="/archive/virtualisation.html" {% if ('/archive/virtualisation.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Virtualisation</a>
  </div>
</nav>