<header>
	
	<script type='text/javascript'>
		$(document).ready( function() {
			var _config = {
			username: 'keir',         // last.fm username
			placeholder: 'LastFM',   // id of the div in HTML to use for cd covers
			//defaultthumb: './lastfm_logo.jpg',  // image when no cd cover or artist image is found
			period: 'recenttracks',         // which period/type of data do you want to show? you can choose from
									// recenttracks, 7day, 3month, 6month, 12month, overall, 
									// topalbums and lovedtracks
			count: 1,              // number of images to show
			refresh: 5,             // when to get new data from last.fm (in minutes)
			offset: 5               // difference between your timezone and GMT.
			};
			lastFmRecords.init(_config);
		});
	</script>
	
	<topbar>
		<div class="Mastodon">
			<span class="Icon">
				<img src="../-/IMG/Icons/24/Mastodon.svg" />
			</span>
			<span class="Text">
				Mastodon
			</span>
		</div>
		<div class="LastFM">
			<span class="Icon">
				<img src="../-/IMG/Icons/24/LastFM.svg" />
			</span>
			<span class="Text">
				<div id="now_playing"></div>
				<div id="LastFM"></div>
			</span>
		</div>
	</topbar>
	<div class="Logo">
		<img src="../-/IMG/KA-Logo.svg" width="240" height="158" />
	</div>
	<h1>Keir<span class="Sirname">Ansell</span></h1>
	<h2>• he / him •</h2>
	<div class="PixelBar Red"></div>
</header>