<header>
	<div class="Noise">
	<topbar>
		<div class="Mastodon">
			<span class="Icon">
				<img src="../-/IMG/Icons/24/Mastodon.svg" />
			</span>
			<span class="Text">
				Mastodon
			</span>
		</div>
		<div class="LastFM">
			<span class="Icon">
				<img src="../-/IMG/Icons/24/LastFM.svg" />
			</span>
			<span class="Text">
				<div id="now_playing"></div>
				<div id="LastFM"></div>
			</span>
		</div>
	</topbar>
	<div class="Logo">

	</div>
	<h1>Keir<span class="Sirname">Ansell</span></h1>
	<h2>• he / him •</h2>
	<div class="PixelBar"></div>
	</div>
</header>