<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'header-meta.njk' %}
		<script type="text/javascript">
			var macy = Macy({
				container: '#macy-container',
				trueOrder: false,
				waitForImages: false,
				margin: 24,
				columns: 2,
				breakAt: {
					1200: 5,
					940: 3,
					520: 2,
					400: 1
				}
			});
		</script>
		<title>{{ title | safe }}</title>
	</head>
	<body id="Home">
		{% include 'main-navigation.njk' %}
		
		{% include 'header.njk' %}
				
		{{ content | safe }}
		
		{% include 'footer.njk' %}
	</body>
</html>