<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'header-meta.njk' %}

		<title>{{ title | safe }}</title>
	</head>
	<body id="Home">
		{% include 'main-navigation.njk' %}
		
		{% include 'header.njk' %}
				
		{{ content | safe }}
		
		{% include 'footer.njk' %}

	</body>
</html>