<nav class="main">
	<div class="container">
		<a href="/" {% if ('/' === page.url) %}class="active"{% endif %}>Home</a>
		<a href="/about" {% if ('/about' in page.url) %}class="active"{% endif %}>About</a>
		<a href="/archive" {% if ('/archive' in page.url) %}class="active"{% endif %}>Archive</a>
		<a href="/projects" {% if ('/projects' in page.url) %}class="active"{% endif %}>Projects</a>
		<a href="/uses" {% if ('/uses' in page.url) %}class="active"{% endif %}>Uses</a>a
		<a href="/contact" {% if ('/contact' in page.url) %}class="active"{% endif %}>Contact</a>
	</div>
</nav>