<nav class="sub">
	<div class="container">
		<a href="/uses/hardware.html" {% if ('/uses/hardware.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Hardware</span>
			<div class="Highlight"></div>
		</a>
		<a href="/uses/software.html" {% if ('/uses/software.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Software</span>
			<div class="Highlight"></div>
		</a>
		<a href="/uses/office-accessories.html" {% if ('/uses/office-accessories.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Office Accessories</span>
			<div class="Highlight"></div>
		</a>
		<a href="/uses/smart-home.html" {% if ('/uses/smart-home.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Smart Home</span>
			<div class="Highlight"></div>
		</a>
		<a href="/uses/network.html" {% if ('/uses/network.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Network</span>
			<div class="Highlight"></div>
		</a>
		<a href="/uses/homeware.html" {% if ('/uses/homeware.html' in page.url) %}class="active"{% endif %}>
			<span class="Label">Homeware</span>
			<div class="Highlight"></div>
		</a>
	</div>
</nav>

<!--
<nav class="sub">
  <div class="container">
	<a href="/uses/hardware.html" {% if ('/uses/hardware.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Hardware</a>
	<a href="/uses/software.html" {% if ('/uses/software.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Software</a>
	<a href="/uses/office-accessories.html" {% if ('/uses/office-accessories.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Office Accessories</a>
	<a href="/uses/smart-home.html" {% if ('/uses/smart-home.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Smart Home</a>
	<a href="/uses/network.html" {% if ('/uses/network.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Network</a>
	<a href="/uses/homeware.html" {% if ('/uses/homeware.html' in page.url) %}class="active"{% endif %}><div class="highlight"></div>Homeware</a>
  </div>
</nav>
-->