---
title: Hardware
permalink: /uses/hardware.html
layout: uses
eleventyNavigation:
  key: Hardware
  parent: Uses
---

<div class="Content" id="macy-container">
  <div class="Card" id="Gaming-PC">
    <div class="Icon"></div>
    <h2>PC</h2>
    <div class="Tag" id="Green">Gaming PC</div>
    <ul>
      <li>
        <div class="HardwareIcon">
          <img src="../../-/IMG/Icons/24/Hardware/CPU-Alt.svg" width="24" height="24" />
        </div>
        <p>AMD Ryzen 9 3900X</p>
      </li>
      <li>
        <div class="HardwareIcon" id="RAM">
          <img src="../../-/IMG/Icons/24/Hardware/RAM-Alt.svg" width="24" height="24" />
        </div>
        <p>Corsair Vengeance 3200 (32GB)</p>
      </li>
      <li>
        <div class="HardwareIcon" id="GPU">
          <img src="../../-/IMG/Icons/24/Hardware/GPU-Alt.svg" width="24" height="24" />
        </div>
        <p>Nvidia GeForce 3080 RTX</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Motherboard">
          <img src="../../-/IMG/Icons/24/Hardware/Motherboard-Alt.svg" width="24" height="24" />
        </div>
        <p>NZXT N7 B550</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Storage">
          <img src="../../-/IMG/Icons/24/Hardware/NVMe-Alt.svg" width="24" height="24" />
        </div>
        <p>Samsung 970 EVO Plus (1TB)</p>
        <p>Samsung 980 EVO Pro (2TB)</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Display">
          <img src="../../-/IMG/Icons/24/Hardware/Display-Alt.svg" width="24" height="24" />
        </div>
        <p>Dell S2716DG</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Case">
          <img src="../../-/IMG/Icons/24/Hardware/Case-Alt.svg" width="24" height="24" />
        </div>
        <p>NZXT H6 Flow</p>
      </li>
      <li>
        <div class="Icon" id="Keyboard">
          <img src="../../-/IMG/Icons/24/Hardware/Keyboard-Alt.svg" width="24" height="24" />
        </div>
        <p>Logitech Pro X</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Mouse">
          <img src="../../-/IMG/Icons/24/Hardware/Mouse-Alt.svg" width="24" height="24" />
        </div>
        <p>Logitech Pro X</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Speakers">
          <img src="../../-/IMG/Icons/24/Hardware/Speakers-Alt.svg" width="24" height="24" />
        </div>
        <p>Logitech G560</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Headset">
          <img src="../../-/IMG/Icons/24/Hardware/Headset-Alt.svg" width="24" height="24" />
        </div>
        <p>Logitech Pro X</p>
      </li>
    </ul>
  </div>

  <div class="Card" id="Mac-Studio">
    <div class="Icon"></div>
    <h2>Mac Studio</h2>
    <ul>
      <li>
        <div class="HardwareIcon" id="CPU">
          <img src="../../-/IMG/Icons/24/Hardware/CPU-Alt.svg" width="24" height="24" />
        </div>
        <p>Apple M1 Max</p>
      </li>
      <li>
        <div class="HardwareIcon" id="RAM">
          <img src="../../-/IMG/Icons/24/Hardware/RAM-Alt.svg" width="24" height="24" />
        </div>
        <p>32GB</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Display">
          <img src="../../-/IMG/Icons/24/Hardware/Display-Alt.svg" width="24" height="24" />
        </div>
        <p>Apple Studio Display</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Keyboard">
          <img src="../../-/IMG/Icons/24/Hardware/Keyboard-Alt.svg" width="24" height="24" />
        </div>
        <p>Magic Keyboard w/Touch ID</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Trackpad">
          <img src="../../-/IMG/Icons/24/Hardware/Trackpad-Alt.svg" width="24" height="24" />
        </div>
        <p>Magic Trackpad</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Mouse">
          <img src="../../-/IMG/Icons/24/Hardware/Mouse-Alt.svg" width="24" height="24" />
        </div>
        <p>Logitech MX Master 3</p>
      </li>
      <li>
        <div class="HardwareIcon" id="Speakers">
          <img src="../../-/IMG/Icons/24/Hardware/Speakers-Alt.svg" width="24" height="24" />
        </div>
        <p>Apple HomePod (Stereo)</p>
      </li>
    </ul>
  </div>
</div>
