---
title: Hardware
permalink: /uses/hardware.html
layout: uses
eleventyNavigation:
  key: Hardware
  parent: Uses
---

  <div class="Content" id="#macy-container">
    <div class="Card" id="Gaming-PC">
      <div class="Icon"></div>
      <h2>PC</h2>
      <div class="Tag" id="Green">Gaming PC</div>
      <ul>
        <li>
          <div class="Icon" id="CPU"></div>
          <p>AMD Ryzen 9 3900X</p>
        </li>
        <li>
          <div class="Icon" id="RAM"></div>
          <p>Corsair Vengeance 3200 (32GB)</p>
        </li>
        <li>
          <div class="Icon" id="GPU"></div>
          <p>Nvidia GeForce 3080 RTX</p>
        </li>
        <li>
          <div class="Icon" id="Motherboard"></div>
          <p>NZXT N7 B550</p>
        </li>
        <li>
          <div class="Icon" id="Storage"></div>
          <p>Samsung 970 EVO Plus (1TB)<br />Samsung 980 EVO Pro (2TB)</p>
        </li>
        <li>
          <div class="Icon" id="Display"></div>
          <p>Dell S2716DG</p>
        </li>
        <li>
          <div class="Icon" id="Case"></div>
          <p>NZXT H6 Flow</p>
        </li>
        <li>
          <div class="Icon" id="Keyboard"></div>
          <p>Logitech Pro X</p>
        </li>
        <li>
          <div class="Icon" id="Mouse"></div>
          <p>Logitech Pro X</p>
        </li>
        <li>
          <div class="Icon" id="Speakers"></div>
          <p>Logitech G560</p>
        </li>
        <li>
          <div class="Icon" id="Headset"></div>
          <p>Logitech Pro X</p>
        </li>
      </ul>
    </div>
    
    <div class="Card" id="Mac-Studio">
      <div class="Icon"></div>
      <h2>Mac Studio</h2>
      <ul>
        <li>
          <div class="Icon" id="CPU"></div>
          <p>Apple M1 Max</p>
        </li>
        <li>
          <div class="Icon" id="RAM"></div>
          <p>32GB</p>
        </li>
        <li>
          <div class="Icon" id="Display"></div>
          <p>Apple Studio Display</p>
        </li>
        <li>
          <div class="Icon" id="Keyboard"></div>
          <p>Magic Keyboard w/Touch ID</p>
        </li>
        <li>
          <div class="Icon" id="Trackpad"></div>
          <p>Magic Trackpad</p>
        </li>
        <li>
          <div class="Icon" id="Mouse"></div>
          <p>Logitech MX Master 3</p>
        </li>
        <li>
          <div class="Icon" id="Speakers"></div>
          <p>Apple HomePod (Stereo)</p>
        </li>
      </ul>
    </div>

  </div>
