---
title: Home
layout: home
---

<main>

  <div id="macy-container">
    <card class="TopTrack">
      <div class="Artwork"></div>
      <div class="Content">
        <span class="Title">Listening to</span>
        <span class="Track">Work</span>
        <span class="Track">Brook Blair • Will Blair</span>
      </div>
      <div class="Icon"></div>
    </card>

    <card class="Photo" id="One"></card>
  
    <card class="Photo" id="Two"></card>
  
    <card class="Toot">
      <div class="Content">
        <p>
          “This is where the content of the toot will be displayed. This is where the content of the toot will be displayed.”
        </p>
        <div class="Avatar"></div>
        <div class="Username">@keir</div>
        <div class="Date">01st March 2024</div>
        <div class="Icon"></div>
      </div>
    </card>
  </div>

</main>

<!--
<ul>
{%- for post in collections.all -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
-->