@font-face {
  font-family: "AT-Hauss";
  src: url("../-/FONTS/AtHauss-Thin.woff2") format("woff2");
  font-weight: thin;
  font-style: normal;
}
@font-face {
  font-family: "AT-Hauss";
  src: url("../-/FONTS/AtHauss-Light.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "AT-Hauss";
  src: url("../-/FONTS/AtHauss-Retina.woff2") format("woff2");
  font-weight: retina;
  font-style: normal;
}
@font-face {
  font-family: "AT-Hauss";
  src: url("../-/FONTS/AtHauss-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AT-Hauss";
  src: url("../-/FONTS/AtHauss-Semibold.woff2") format("woff2");
  font-weight: semibold;
  font-style: normal;
}
@font-face {
  font-family: "AT-Hauss";
  src: url("../-/FONTS/AtHauss-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AT-Hauss";
  src: url("../-/FONTS/AtHauss-Black.woff2") format("woff2");
  font-weight: black;
  font-style: normal;
}
@font-face {
  font-family: "AT-Hauss";
  src: url("../-/FONTS/AtHauss-Super.woff2") format("woff2");
  font-weight: super;
  font-style: normal;
}
@font-face {
  font-family: "AT-Hauss-Variable";
  src: url("../-/FONTS/AtHauss-Variable.woff2") format("woff2");
  font-style: normal;
}